<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Atualização de alunos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="#" th:action="@{'/upd/' + ${id}}" method=post th:object="${aluno}">
    	Nome: <input type="text" th:field="*{nome}"><br>
    	CPF: <input type="text" th:field="*{cpf}"><br>
    	Código do Colégio: <input type="text" th:field="*{colegio}"><br>
    	E-mail: <input type="text" th:field="*{email}">
    	<input type="submit" value="Editar">
    </form>
</body>
</html>