<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Cadastro de Professores</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   <script th:src="@{js/main.js}"></script>
</head>
<body>
     <form onsubmit="return validaForm(this)" action="#" th:action="@{/professor}" method=post th:object="${professor}">
       Nome do Professor: <input id="nome" type="text" th:field="*{nome}"><br>
       CPF: <input id="cpf" type="text" th:field="*{cpf}"><br>
       Código do Colégio: <input id="cdcolegio" type="text" th:field="*{colegio}"><br>
       E-mail: <input id="email" type="text" th:field="*{email}">
       <input type="submit" value="Cadastrar">
     </form>
     <div><a th:href="@{/professores}">Voltar</a></div>
 </body>
 </html>