<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Atualização de funcionários</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:src="@{js/main.js}"></script>
</head>
<body>
    <form onsubmit="return validaForm(this)" action="#" th:action="@{'/updfunc/' + ${id}}" method=post th:object="${funcionario}">
    	Nome: <input id="nome" type="text" th:field="*{nome}"><br>
    	CPF: <input id="cpf" type="text" th:field="*{cpf}"><br>
    	Código do Colégio: <input id="cdcolegio" type="text" th:field="*{colegio}">
    	<input type="submit" value="Editar">
    </form>
</body>
</html>