<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Cadastro das unidades</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
     <form action="#" th:action="@{/escola}" method=post th:object="${escola}">
       Nome: <input type="text" th:field="*{nome}"><br>
       Código: <input type="text" th:field="*{codigo}">
       <input type="submit" value="Cadastrar">
     </form>
     <div><a th:href="@{/escolas}">Voltar</a></div>
 </body>
 </html>