<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Atualização de professores</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<header class="container">
    <a th:href="@{/}"><h1>Projeto Captação de Alunos</h1></a>
    <nav>
        <ul id="menu">
			<li><a th:href="@{/alunos}">Alunos</a></li>
			<li><a th:href="@{/professores}">Professores</a></li>
			<li><a th:href="@{/funcionarios}">Funcionários</a></li>
			<li><a th:href="@{/escolas}">Escolas</a></li>
		</ul>
    </nav>
</header>
<main>
    <form action="#" th:action="@{'/updprof/' + ${id}}" method=post th:object="${professor}">
    	Nome: <input type="text" th:field="*{nome}"><br>
    	CPF: <input type="text" th:field="*{cpf}"><br>
    	Código do Colégio: <input type="text" th:field="*{colegio}"><br>
    	E-mail: <input type="text" th:field="*{email}">
    	<input type="submit" value="Editar">
    </form>
    <div><a th:href="@{/professores}">Voltar</a></div>
</main>
<footer>
	<p><a href="https://github.com/GabrielMarmore" target="_blank">@Mármore</a></p>
    <p><a href="https://github.com/WilsonIglesias" target="_blank">@Wilson</a></p>
</footer>
</body>
</html>