<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Cadastro de Funcionários</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   <link rel="stylesheet" th:href="@{css/main.css}">
</head>
<body>
<header class="container">
    <a th:href="@{/}"><h1>Projeto Captação de Alunos</h1></a>
    <nav>
        <ul id="menu">
			<li><a th:href="@{/alunos}">Alunos</a></li>
			<li><a th:href="@{/professores}">Professores</a></li>
			<li><a th:href="@{/funcionarios}">Funcionários</a></li>
			<li><a th:href="@{/escolas}">Escolas</a></li>
		</ul>
    </nav>
</header>
<main>
     <form action="#" th:action="@{/funcionario}" method=post th:object="${funcionario}">
       Nome: <input type="text" th:field="*{nome}"><br>
       CPF: <input type="text" th:field="*{cpf}"><br>
       Código do Colégio: <input type="text" th:field="*{colegio}">
       <input type="submit" value="Cadastrar">
     </form>
     <div><a th:href="@{/funcionarios}">Voltar</a></div>
</main>
<footer>
	<p><a href="https://github.com/GabrielMarmore" target="_blank">@Mármore</a></p>
    <p><a href="https://github.com/WilsonIglesias" target="_blank">@Wilson</a></p>
</footer>
 </body>
 </html>