<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Atualização de funcionários</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="#" th:action="@{'/updfunc/' + ${id}}" method=post th:object="${funcionario}">
    	Nome: <input type="text" th:field="*{nome}"><br>
    	CPF: <input type="text" th:field="*{cpf}"><br>
    	Código do Colégio: <input type="text" th:field="*{colegio}">
    	<input type="submit" value="Editar">
    </form>
</body>
</html>