<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{css/main.css}">
<script th:src="@{js/teste.js}">
</script>
<title>Página principal</title>
</head>
<body>
	<header>
        <h1>Projeto Captação de Alunos</h1>
        <nav>
            <ul>
				<li><a th:href="@{/alunos}">Alunos</a></li>
   				<li><a th:href="@{/professores}">Professores</a></li>
   				<li><a th:href="@{/funcionarios}">Funcionários</a></li>
   				<li><a th:href="@{/escolas}">Escolas</a></li>
   			</ul>
        </nav>
    </header>
  <h2>Acesso Tabelas</h2>
  <ul>
   <li><a th:href="@{/alunos}">Alunos</a></li>
   <li><a th:href="@{/professores}">Professores</a></li>
   <li><a th:href="@{/funcionarios}">Funcionários</a></li>
   <li><a th:href="@{/escolas}">Escolas</a></li>
  </ul>
  
</body>
</html>