<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{css/main.css}">
<script th:src="@{js/main.js}">
</script>
<title>Página principal</title>
</head>
<body>
	<header class="container">
    <a th:href="@{/}"><h1>Projeto Captação de Alunos</h1></a>
    <nav>
        <ul id="menu">
			<li><a th:href="@{/alunos}">Alunos</a></li>
			<li><a th:href="@{/professores}">Professores</a></li>
			<li><a th:href="@{/funcionarios}">Funcionários</a></li>
			<li><a th:href="@{/escolas}">Escolas</a></li>
		</ul>
    </nav>
</header>
<main id="index">
	<div>
  		<h2>Acesso Tabelas</h2>
  		<ul>
  			<div>
   				<li><a th:href="@{/alunos}">Alunos</a></li>
   				<li><a th:href="@{/professores}">Professores</a></li>
   			</div>
   			<div>
   				<li><a th:href="@{/funcionarios}">Funcionários</a></li>
   				<li><a th:href="@{/escolas}">Escolas</a></li>
   			</div>
  		</ul>
  		
  		<h2>Cadastrar</h2>
  		<ul>
  			<div>
   				<li><a th:href="@{/aluno}">Alunos</a></li>
   				<li><a th:href="@{/professor}">Professores</a></li>
   			</div>
   			<div>
   				<li><a th:href="@{/funcionario}">Funcionários</a></li>
   				<li><a th:href="@{/escola}">Escolas</a></li>
   			</div>
  		</ul>
	</div>
</main>
<footer>
	<p><a href="https://github.com/GabrielMarmore" target="_blank">@Mármore</a></p>
    <p><a href="https://github.com/WilsonIglesias" target="_blank">@Wilson</a></p>
 </footer>
</body>
</html>